@font-face {
    font-family: 'PF_Din_Comp_Pro';
    src: url('../fonts/pfdintextcomppro-thin-webfont.eot');
    src: url('../fonts/pfdintextcomppro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-thin-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-thin-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-thin-webfont.svg#pf_din_text_comp_prothin') format('svg');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'PF_Din_Comp_Pro';
    src: url('../fonts/pfdintextcomppro-light-webfont.eot');
    src: url('../fonts/pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-light-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-light-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'PF_Din_Comp_Pro';
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),*/
         url('../fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'PF_Din_Comp_Pro';
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot');
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/pfdintextcomppro-medium-webfont.woff') format('woff'),*/
         url('../fonts/pfdintextcomppro-medium-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium') format('svg');
    font-weight: 600;
    font-style: normal;

}

body {

font-family: 'PF_Din_Comp_Pro';

}
header {margin:-20px auto 0;height:100px;border-bottom:1px solid #f9f9f9;}
/*.yay {text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px, black 0 0 1px, black 0 0 1px, black 0 0 1px, black 0 0 1px, black 0 0 1px, black 0 0 1px, black 0 0 1px, black 0 0 1px;}*/
#zag {font-family: 'PF_Din_Comp_Pro';font-weight: 600;}
.new_ord {float: right;width: 370px; margin: 0 100px 0 5px;border-top: 3px solid red; background:#ff1c1c;
 background: -moz-radial-gradient(#ff1c1c, #850000);
 background: -webkit-radial-gradient(#ff1c1c, #850000);
 background: -o-radial-gradient(#ff1c1c, #850000);
 box-shadow:0px 4px 1px #a50203; text-align:center}
 .new_ord2 {font-family: 'PF_Din_Comp_Pro';
    width: 370px;
    border-top: 3px solid red;
    background: #ff1c1c;
    background: -moz-radial-gradient(#ff1c1c, #850000);
    background: -webkit-radial-gradient(#ff1c1c, #850000);
    background: -o-radial-gradient(#ff1c1c, #850000);
    box-shadow: 0px 4px 1px #a50203;
    text-align: center;
    height: 361px;
    position: absolute;
    top: 42px;
    right: 40px;
    z-index: 10;}
.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}

/* Стили для формы */
.form_box {
	width: 300px;
	margin: 40px auto;
}

.form_style p {
  margin-bottom: 15px;
  position: relative;
}
.form_style .rcheck {
  margin-bottom: 10px;
}
.form_style p label {
	font-family: 'PF_Din_Comp_Pro';color:#fff;text-align:center;font-size:13px;
	display: block;
  cursor: pointer;
}
.form_style .rcheck label {
	font-size: 13px;
	font-weight: normal;
	color: #444444;
	display: inline;
  vertical-align: top;
}

.fix-header {background:url('../images/newyear.jpg') no-repeat top center;background-size:cover;}
.form_style input:focus {
	outline: none;
	border-color: #07a6e6;
}
.form_style .btnsubmit {
cursor:pointer;
}
.form_style input.rf_error {
  border:2px solid #ff0000;
}
.form_style .rfield_error {
  display: block;
  padding: 4px 10px;
  background: rgba(255,0,0,0.7);
  color: #fff;
  font-size: 16px;
  z-index: 1;
  position: absolute;
  top: -5px;
  left: auto;
  right: 122px;
  border-radius:6px;
  visibility: hidden;
  font-family: 'PF_Din_Comp_Pro';
}
.form_style .rcheck .rfield_error {
  top: 0px;
  left: 22px;
  right: auto;
}
.form_style .btnsubmit:hover {
	
}
.form_style .btnsubmit:active {
	
  outline: none;
}
.form_style .btnsubmit:focus {
  outline: none;
}
.form_style .btnsubmit.disabled,
.form_style .btnsubmit.disabled:hover {

}
.form_tur {padding:10px 0 20px;}
.form_tur input {text-align:center;height:40px;border-radius:5px;font-family: 'Roboto Condensed', sans-serif;font-size:18px;color:#616161;background:#fff;padding-left:10px;outline:none;width:300px;margin:10px;}
.form_tur input[type=submit]{height:50px;border-radius:5px;border:none;font-family: 'PF_Din_Comp_Pro', sans-serif;font-size:25px;color:#000;padding-left:10px;background:rgba(255,204,0,1);outline:none;width:250px;cursor:pointer;}
.form_tur input[type=submit]:hover{background:rgba(255,222,0,1);}

.form_back {padding:10px 0 20px;}
.form_back input {text-align:center;height:40px;border-radius:5px;border:1px solid #fff;font-family: 'Roboto Condensed', sans-serif;font-size:18px;color:#fff;background:none;padding-left:10px;outline:none;width:300px;margin:10px;color:#fff;}
.form_back input[type=submit]{height:50px;border-radius:5px;border:none;font-family: 'Roboto Condensed', sans-serif;font-size:21px;color:#fff;padding-left:10px;background:rgba(255,0,0,0.9);outline:none;width:250px;cursor:pointer;}
.form_back input[type=submit]:hover{background:rgba(255,204,0,0.9);}