/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.total_sum {
    width: 205px;
    height: 112px;
    position: absolute;
    right: 22px;
    bottom: 9px;
}
#value_sum{
    width: 200px;
    height: 60px;
    background-color: rgba( 198, 2, 2, 0.2);
    border-radius: 6px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    bottom: 2px;
    text-align: center;
    font-size: 31px;
    font-weight: 300;
    line-height: 62px;
    padding-left: 5px;
}
.text_sum{ 
width: 100%;
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
}
.irs-line-mid,
.irs-line-left,
.irs-line-right{ background-color: #a70101; height: 3px;}
.irs-slider { 
background-image:url('../vol.png');
width: 41px;
    height: 14px;
    top: 19px;
}
.irs {
    height: 40px;
	width:586px;
	float:left;
}
.right_div{
    height: 69px;
    width: 107px;
    /* background-color: #ffe58f; */
    position: absolute;
    right: -120px;
    background: url('../yel_marker.png') 11px no-repeat;
    top: -10px;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    line-height: 68px;
    padding-right: 7px;
}
.calc{
    height: 150px;
    width: 970px;
    margin: 33px auto;
    position: relative;
	padding-left: 70px;
}
.calc_block{float:left; height: 85px;}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 12px; top: 25px;
}
    .irs-line-left {
        height: 3px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 3px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 3px;
        background-position: 100% -30px;
    }

.irs-bar {
    height: 3px; 
	top: 25px;
    background-position: 0 -60px;
	background-color: transparent;
}
    .irs-bar-edge {
        top: 25px;
        height: 12px; width: 9px;
        background-position: 0 -90px;
    }

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}
#calc_dia{
	position: absolute;
	background-image:url('../dia.png');
	width: 34px; height: 27px;
top: 14px;
    left: 10px;
}
#calc_mp{
	position: absolute;
	background-image:url('../mp.png');
	width: 41px; height: 30px;
    bottom: 29px;
    left: 9px;

}
.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
    color: transparent;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    /*background: #ed5565;*/
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -6px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    /*border-top-color: #ed5565;*/
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}

.irs-disabled {
}
