/* CSS Document */

body{margin: 0;padding: 0;font-family: 'Roboto', sans-serif;}
.content{/*width: 1250px;*/margin: 0 auto;padding: 0;/* background:url('metal.jpg') no-repeat;*/min-height: 2020px;background-color:#d9d9d9;}
.title_block{    
    float: left;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin: 62px 0 0 0;
}
.first_top{
	float: left;
    width: 100%;
    height: 344px;
}
.first_bottom{
	float: left;
    width: 100%;
    height: 344px;
}
.first{width: 780px;margin: 0 auto;}
.first img{float: left;margin: 47px 20px 0 20px;}
.tf{float: left;width: 188px;margin-right: 6px;}
.tf h2{
	font-family: 'Roboto Condensed', sans-serif;
    float: left;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    font-size: 18px;
    margin: 22px 0 0 20px;
    color: #8b0000;
    line-height: 22px;
}
.tf .big_h2{
	width: 186px;
    margin: 22px 0 0 3px;
    letter-spacing: -0.43px;
}
.first_text{
	font-size: 15px;
    text-align: center;
    float: left;
    margin-top: 8px;
}
.raid{ background-color:#d9d9d9; width:100%; height:302px;float: left;margin-top: 28px;}
.raid_img{width:1250px; height:302px;margin:0 auto; display:block;background:url('sklad.png') no-repeat;position:relative;}
.point{
	float: left;
    width: 100%;
	background-color: #fff;
}
.point_content{
	background:url('point.png') 0px 17px no-repeat;
	width: 1250px;
	height:951px;
    margin: 0 auto;
}
.l_point{ width:48%; float:left; margin-right:4px;}
.l_point > div{ float:left;font-size: 24px;}
.l_point span{ float:left;font-weight: 600;color: #8b0000;}
.l_point_1{
	padding-left: 213px;
    text-align: left;
    line-height: 28px;
}
.l_point_2{
	padding-left: 321px;
    margin-top: 185px;
    line-height: 27px;
}
.l_point_3{
	padding-left: 234px;
    margin-top: 29px;
}
.l_point_4{padding-left: 76px;padding-top: 52px;}
.l_point_5{padding: 291px 0 0 276px;}
.map{ background-color:#d9d9d9; width:100%; position:relative;float: left;margin-top: 25px;}
.map_content{height:450px;
	width:1100px;
	margin: 0 auto;
	position:relative;
}
#map_met {
	height:450px;
	width:1100px;
	margin: 0;
}
.gm-style-iw * {
	display: block;
	width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
	margin: 0;
	padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
.gmnoprint{ display:none;}
.map_desc{
	font-weight: 500;
    background-color: rgba(240,188,0,0.8);
    position: absolute;
    top: 61px;
    left: 82px;
    width: 250px;
    height: 270px;
    box-shadow: -2px 5px 6px 0px rgba(0,0,0,0.4);
}
.one_block{padding: 10px 0 10px 45px;line-height: 20px;}
.red_line{
	margin: 0 45px 0 45px;
    height: 1px;
    background-color:#8b0000;
}
.raid_title{
	color:#8b0000;
	position: absolute;
    top: 41px;
    right: 368px;
    font-size: 35px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}
.raid_desc{
position: absolute;
    top: 80px;
    right: 278px;
    font-style: italic;
    font-size: 16px;
}	