/* CSS Document */
@media (max-width: 2440px)
{
table.catalog{ width:97%}
.content_nolink {
	height: 1000px !important;
	}
}
@media (max-width: 1250px)
{
table.catalog{ width:97%}
.content_nolink{
    width: 100% !important;
	height: 1150px !important;

}
.content_link{
	height: 1730px !important;
    width: 100% !important;
}
#navibut{ display:none;}
.sale_border{display:none;}
.slide-border {
    width: 100% !important;
}
.calc {
    width: 90%!important;}
.newprice {
    font-size: 56px !important;
    bottom: 0px !important;
	top:auto !important;
}
.calc_block {
    width: 51% !important;
}
.js-irs-0, js-irs-1{width: 77% !important;}
.total_sum {
    right: 5px !important;
}
.wrapper {
    width: 100% !important;
}
.tabs {
    width: 100% !important;
}
.tabs ul{padding-left: 1% !important;
    width: 30% !important;max-width:220px;
}
.price_wrapper{
	width: 68% !important;
    margin-left: 5px !important;
    max-width: 900px;
}
.list li{width: 98% !important; max-width:220px;}
.irs {
    width: 100% !important;
}
#center_head {
    margin: 46px 43px 10px !important;
    width: 310px !important;
    float: right !important;
}
#tel_head {
margin: 34px 0 20px !important;
    width: 100% !important;
    font-size: 26px !important;
    text-align: center;
}
#text_center_block {
    width: 100% !important;
    margin: 11px 0 0 0 !important;
}
#zag {
float: none !important;
font-size: 40px !important;

}
.block_420{float: none !important;margin: 10px auto !important;width: 420px;text-align: center;}
.block_420 img{float:left; margin:0 !important;}
#price_retail{
    position: absolute;
    top: 248px !important;
    left: 24% !important;
	margin:0 !important;
}
.new_ord{margin: 0 4% 0 5px !important;}
.yay td{padding: 4px;}
.list li {
    font-size: 19px !important;
    line-height: 22px;
}
.first .first_text{ display:none;}
.tf {
    width: 180px !important;

}
.first {
    min-width: 768px;
	max-width: 780px;
    margin: 0 auto;
}
.raid_img {
    width: 100% !important;
    background: url('sklad.png') center center no-repeat !important;
}
.raid_desc {
    left: 37% !important;
	    right: 0 !important;
}
.raid_title {
    left: 38% !important;
	    right: 0 !important;
}
.point_img {
 display:block !important;
 width:100% !important;
 height:auto;
}
.sale_item {
    height: 220px !important;
    background: rgba(156,67,67,0.75) !important;
}
}
@media (max-width: 980px)
{
.raid_desc {
    left: 34% !important;
	    right: 0 !important;
}
.contacts{ width:100% !important;}
.map_desc {
    margin: 10px 0 0 73px !important;
}
.diploma1 {
right: 325px !important;
}
.diploma4 {
right: 250px !important;
}
.diploma2 {
right: 20px !important;
}
.diploma3 {
    right: 85px !important;
}
.new_ord2{ right:0px !important;width: 100% !important; top:450px;height: 320px !important;}
.new_ord2 .form_tur h3{width: 100% !important;}
}
@media (max-width: 950px)
{
.order_scheme_fl{
width:100% !important;
height: 450px !important;
}
.order_scheme{
width:100% !important;
height:auto !important;
}
.gear_box {
 display:none;
}
.sheme_img {
 display:block !important;
 width:100% !important;
 height:auto;
}
}
@media (max-width: 910px)
{
.round2 {
    right: 340px !important;
    top: 531px !important;
}
.round1 {
    right: 415px !important;
}
}
#mCSB_1_scrollbar_horizontal{ display:none;}
body{margin:0 auto; padding:0; font-family: 'Roboto', sans-serif;}
.content{/*width: 1250px;*/margin: 0 auto;padding: 0;/* background:url('metal.jpg') no-repeat;*/min-height: 2020px;/*background-color:#d9d9d9;*/}
#content{width:1200px; height:1100px;margin:0 auto; padding:0;font-family: 'Roboto Condensed', sans-serif; font-size: 13px;}
#logo{width:280px; height:89px;float:left; margin: 19px 0 0 43px;}
#center_head{float: left; margin: 46px 0 0 143px; width:400px; font-size: 17px;line-height: 17px;}
#tel_head{float: right; margin: 20px 0 0 0;width: 247px;font-size: 35px;font-family: 'PF_Din_Comp_Pro';font-weight: 600;}
#text_center_block{width: 1108px; height: 179px;float: left;margin: 60px 0 100px 41px; text-align:center;}
#zag{font-size: 56px;line-height:56px;letter-spacing: -1px;color: #2e2e2e;float: left;width: 100%;margin-top: 0px; text-transform:uppercase;}
#new_ord_2{ display:none;}
.mob_res{ display:none;}
.form_pos{float: right;width: 100%;height: 395px;margin-top: 40px;margin-bottom: 25px; position:relative;}
.mCSB_container_wrapper > .mCSB_container{
		/*padding-right: 20px;*/
		padding-bottom: 30px;
}

.title_block{
    float: left;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-family: 'PF_Din_Comp_Pro';
    font-size: 50px;
    margin: 42px 0 0 0;
}
#menu_cat{ display:none;}
.free{width: auto;float: right;margin-left: 5px;color: red;}
.first_top{
	float: left;
    width: 100%;
    height: 344px;
}
.first_bottom{
	float: left;
    width: 100%;
    height: 344px;
}
.first{width: 780px;margin: 0 auto;}
.first img{float: left;margin: 47px 20px 0 20px;}
.tf{float: left;width: 188px;margin-right: 6px;}
.tf h2{
	font-family: 'Roboto Condensed', sans-serif;
    float: left;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    font-size: 18px;
    margin: 22px 0 0 20px;
    color: #8b0000;
    line-height: 22px;
}
.tf .big_h2{
	width: 186px;
    margin: 22px 0 0 3px;
    letter-spacing: -0.43px;
}
.first_text{
	font-size: 15px;
    text-align: center;
    float: left;
    margin-top: 8px;
}
.raid{ background-color:#d9d9d9; width:100%; height:302px;float: left;margin-top: 28px;}
.raid_img{width:1250px; height:302px;margin:0 auto; display:block;background:url('sklad.png') no-repeat;position:relative;}
.map{
    background-color:#d9d9d9;
    width:100%;
    position:relative;
    float: left;
}
.map_content{height:450px;
	width:100%;
	margin: 0 auto;
	position:relative;
}
#map_met {
	height:450px;
	/*width:1100px;*/
	margin: 0;
	background-color:none;
}
.gm-style-iw * {
	display: block;
	width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
	margin: 0;
	padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
.gmnoprint{ display:none;}
/*.map_desc{
	font-weight: 500;
    background-color: rgba(240,188,0,0.8);
    position: absolute;
    top: 61px;
    left: 170px;
    width: 250px;
    height: 270px;
    box-shadow: -2px 5px 6px 0px rgba(0,0,0,0.4);
}*/
/*.one_block{padding: 10px 0 10px 45px;line-height: 20px;}
.red_line{
	margin: 0 45px 0 45px;
    height: 1px;
    background-color:#8b0000;
}*/
.raid_title{
	color:#8b0000;
	position: absolute;
    top: 41px;
    right: 368px;
    font-size: 35px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}
.raid_desc{
position: absolute;
    top: 80px;
    right: 278px;
    font-style: italic;
    font-size: 16px;
}
#price_retail{
width: 125px;
    height: 125px;
    float: left;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #a70101;
    margin-top: 10px;
    margin-left: 480px;
    text-align: center;
    font-size: 43px;
    letter-spacing: -3px;
    line-height: 93px;
    box-shadow: 0px 0px 14px 0px rgba(200, 150, 200, 0.5);
}
#price_retail span{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 0px;
    display: block;
}
.block_420{float: left;margin: 10px 0 0 0;font-size: 26px;letter-spacing: -2px;line-height: 24px;color: black;}
.block_420 img{float:left; margin: 0 2px 0 375px;display: block;}
.fancybox-skin{padding-top: 0.7% !important; background-color:#eee !important;}
@media (min-width: 768px){
.second{ display:none;}

@media (max-width: 768px){
	.content_nolink {
height: 1725px !important;
}
}

}
@media (max-width: 980px)
{
.point_content{
    display: none !important;
}
.comp_numb{
    display: block !important;
}

.round1 {
display: none !important;
}
.round2{
display: none !important;
}
.round3 {
display: none !important;
}
.form2 {left: 355px;width: 280px !important;}
.form_tur {
    padding: 10px 0 0px;
}
table.catalog{ width:97%}
}
@media (min-width: 568px) and (max-width: 767px) {
.content_nolink {
    height: 1465px !important;
}

	}
@media (min-width: 568px) and (max-width: 767px) {
.form2 p.form_p {
    padding: 0 12px !important;
    font-size: 13px !important;
}
.sli-links{ bottom:5px; top:auto !important;}
.tabs {
    display: block !important;
    position: relative;
}
.tabs ul.list {
    display: none;
    width: 340px !important;
    position: absolute;
    left: 50%;
    padding-left: 0 !important;
    margin-left: -170px;
    top: 77px;
    background-color: rgba(155, 155, 155, 0.8);
    z-index: 12;
    max-width: none;
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 0 0 26px 0 #444;
}
#zag {

    line-height: 45px;}
#menu_cat{
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 14px 22px;
    font-size: 19px;
    text-align: left;
    background-color: #be0808;
    color: #fff;
    border-radius: 8px;
    position: relative;
}
#menu_cat img{
    position: absolute;
    top: 7px;
    right: 16px;
    border-radius: 50%;
    border: 3px solid #ffcc00;
    transform: rotate(-180deg);
	z-index: 10;
}
#catalog_of_production {
    height: 775px;
}
.list li {
    width: 100% !important;
    max-width: none;
	padding: 8px 0!important;
	border-radius:0!important;
	background-color: #e5e5e5 !important;
}
.tabs ul li.active, .tabs ul li.active:hover {
    background: #be0808 !important;
    color: #fff;
}
.list li:first-child {
    border-radius:8px 8px 0 0 !important;

   }
.list li:last-child {
    border-radius: 0 0 8px 8px!important;
	margin-bottom:0 !important;

   }
.form2 {
    top: 474px !important;
    right: 50% !important;
    width: 358px !important;
    height: 149px !important;
    border-radius: 8px !important;
    margin-right: -179px !important;
	left:auto !important;
	background-color: rgba(255, 204, 0, 0.8)!important;
}
.price_wrapper {
	display:block !important;
    width: 98% !important;
    margin-left: auto !important;
    max-width: 900px;
    margin: 20px auto;
	height: 383px !important;
}
table.catalog{ width:97%}
body { background-position-x: -530px!important;}
#new_ord_1{ display:none;}
#new_ord_2{
	display: block;
    margin: 20px auto !important;
    float: none;
    height: 338px;
	position: relative;
}
.mob_res{ display:block;}
.main_res{ display:none;}
.form_pos {
    height: 320px;
	margin-bottom: 0px;
}
.block_420 img {
    float: right;
}
.calc {
    width: 85%!important;
    padding-left: 15%;
	float: left;
	height: 235px;
}
.calc_block {
    width: 70% !important;
}
#calc_dia {
    left: 25px;
}
#calc_mp {
    bottom: 114px;
    left: 20px;
}
.text_sum {
    width: 90px;
    float: left;
    line-height: 52px;
    margin-right: 10px;
}
#value_sum{
    position: relative;
    float: left;
}
.total_sum {
    right: 50% !important;
    width: 58%;
    margin-right: -29%;
	height: auto;
	bottom: 5px;
}
.table_sl{ width:78%; margin:0 auto;}
.table_sl table td {padding: 7px 2px;}
.free{width: auto;float: right;margin-right: 15px;color: red;}
.first_top{ display:none;}
.first_bottom{ display:none;}
.tf img{
    width: 41%;
    margin: 10px;
    display: block;
    float: left;
}
.tf{
	float: left;
    width: 100% !important;
}
.tf h2{
    margin: 30px 0;
    float: left;
    font-size: 14px;
    width: 46%;
}
.first {
    width: 100%; position:relative;
}
.second{ display:block; float:left; width:100%; margin-top: 20px;}
.sec_left, .sec_center, .sec_right{
	width: 33.3333%;
    float: left;}
.sec_left, .sec_right{
padding: 47px 0;
}
header {
    height: 254px;
}
#center_head {
margin: 10px auto !important;
    float: none !important;
    font-size: 20px;
    width: 80% !important;
    height: 44px;
    text-align: center;
}
#center_head > div {
    text-align: center;
    width: 100%;
}
#price_retail {
    left: 55% !important;
    top: 100px !important;
}
table.yay{ display:none;}

#logo {
    margin: 10px auto !important;
    float: none;
    display: block;
}
#tel_head {
    margin: 5px 0 20px !important;
    font-size: 30px !important;
}
.form2 {
    left: 0px;
}
.raid3_img {
    width: 43% !important;
}
.sklad{ display:none;}
.map_desc {
    margin: 0 auto !important;
}
.contacts {
    height: 885px !important;
}
.diploma1 {
    top: 49% !important;
    right: 78% !important;
    margin-right: -60px;
}
.diploma2 {
top: 44% !important;
    right: 34% !important;
    margin-right: -140px;
}
.diploma4 {
    top: 73% !important;
    right: 64% !important;
    margin-right: -72px;
}

.diploma3 {
top: 72% !important;
    right: 30% !important;
    margin-right: -67px;
}
.point_img {
    top: 24% !important;
}
.order_scheme_fl {
    height: 390px !important;
}
.newprice {
    bottom: 38px !important;
	    right: 19% !important;
}
.raid_title {
    left: 32% !important;
    font-size: 30px !important;
}
.raid_desc {
    left: 31% !important;
    width: 70%;
	font-size: 12px !important;
}
.raid_img{ background-position-x:-216px!important; }
.sale {
    font-size: 70px !important;
}
.sale_item {
    width: 40% !important;
	height: 116px !important;
	left: 15px !important;
	    font-size: 23px !important;
}
}

@media (min-width: 320px) and (max-width: 567px) {
.form2 p.form_p {
    padding: 0 12px !important;
    font-size: 13px !important;
}

.sli-links{ bottom:5px; top:auto !important;}
.tabs {
    display: block !important;
    position: relative;
}
.tabs ul.list {
    display: none;
    width: 300px !important;
    position: absolute;
    left: 50%;
    padding-left: 0 !important;
    margin-left: -153px;
    top: 77px;
    background-color: rgba(155, 155, 155, 1);
    z-index: 12;
    max-width: none;
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 0 0 26px 0 #444;
}
#zag {
    font-size: 31px !important;
    line-height: 45px;}
#menu_cat{
    display: block;
    margin: 0 auto;
    padding: 14px 7px;
    font-size: 19px;
    text-align: left;
    background-color: #be0808;
    color: #fff;
    border-radius: 8px;
    position: relative;
}
#menu_cat img{
    position: absolute;
    top: 7px;
    right: 16px;
    border-radius: 50%;
    border: 3px solid #ffcc00;
    transform: rotate(-180deg);
	z-index: 10;
}
#catalog_of_production {
    height: 775px;
}
.list li {
    width: 100% !important;
    max-width: none;
	padding: 8px 0!important;
	border-radius:0!important;
	background-color: #e5e5e5 !important;
}
.tabs ul li.active, .tabs ul li.active:hover {
    background: #be0808 !important;
    color: #fff;
}
.list li:first-child {
    border-radius:8px 8px 0 0 !important;

   }
.list li:last-child {
    border-radius: 0 0 8px 8px!important;
	margin-bottom:0 !important;

   }
.form2 {

    top: 474px !important;
    right: 50% !important;
    width: 300px !important;
    height: 155px !important;
    border-radius: 8px !important;
    margin-right: -150px !important;
    left: auto !important;
    background-color: rgba(255, 204, 0, 0.8)!important;

}
.raid { display:none;}
.raid2_img {
    background-color: rgba(255, 204, 0, 0.7)!important;
    width: 82% !important;
    top: 38% !important;
}
.price_wrapper {
	display:block !important;
    width: 98% !important;
    margin-left: auto !important;
    max-width: 900px;
    margin: 20px auto;
	height: 383px !important;
}
body { background-position-x: -530px!important;}
.content_link{height: 1720px !important;}
.content_nolink{/*height: 1465px !important;*/}
#new_ord_1{ display:none;}
#new_ord_2{
display: block;
    margin: 0!important;
    float: left;
    height: 338px;
    position: relative;
    width: 100%;

}
.form_tur input { width: 280px;}
.mob_res{ display:block; float:left !important;}
.block_420.mob_res{
    float:none !important;
    font-size: 20px;
    width: 98%;}
.main_res{ display:none;}
.form_pos {
    height: 320px;
	margin-bottom: 0px;
}
.block_420 img {
    float: right;
}
.calc {
    width: 85%!important;
    padding-left: 15%;
	float: left;
	height: 235px;
}
.calc_block {
    width: 60% !important;
}
.right_div {
    right: -103px;
}
#calc_dia {
    left: 5px;
}
#calc_mp {
bottom: 114px;
    left: 3px;
}
.text_sum {
    width: 90px;
    float: left;
    line-height: 52px;
    margin-right: 10px;
}
#value_sum{
    position: relative;
    float: left;
}
.total_sum {
width: 98%;
    margin: 0 auto;
    height: auto;
    bottom: 5px;
}
.table_sl{ width:100%; margin:40px auto;float:left !important;}
.table_sl table{
	width: 80%;
    margin-top: 40px;
    float: none !important;
}
.table_sl table td {padding: 7px 2px;}
.free{width: auto;float: right;margin-right: 15px;color: red;}
.first_top{ display:none;}
.first_bottom{ display:none;}
.tf img{
    width: 27%;
    margin: 10px 10px 10px 10%;
    display: block;
    float: left;
}
.tf{
	float: left;
    width: 100% !important;
	margin-right: 0px;
}
.tf h2{
    margin: 35px 0 30px;
    float: left;
    font-size: 16px;
    width: 46%;
}
.first {
    width: 100%; position:relative;
}
.second{ display:block; float:left; width:100%; margin-top: 20px;}
.sec_left, .sec_center, .sec_right{
	width: 100%;
    float: left;
}
table.catalog th, table.catalog td{
    font-size: 14px !important;
}
header {
    height: 254px;
}
#center_head {
    margin: 10px auto !important;
    float: none !important;
    font-size: 16px;
    width: 95% !important;
    height: 44px;
    text-align: center;
}
#center_head > div {
    text-align: center;
    width: 100%;
}
#price_retail {
    left: 55% !important;
    top: 100px !important;
}
table.yay{ display:none;}

#logo {
    margin: 10px auto !important;
    float: none;
    display: block;
}
#tel_head {
    margin: 5px 0 20px !important;
    font-size: 30px !important;
}
.form2 {
    left: 0px;
}
.raid3_img {
width: 66% !important;
background-color: rgba(255, 204, 0, 0.7)!important;
top: 38% !important;
}
.sklad{ display:none;}
.map_desc {
    margin: 0 auto !important;
}
.contacts {
    height: 885px !important;
}
.diploma1 {
    top: 68% !important;
    right: 78% !important;
    margin-right: -60px;
}
.diploma2 {
    top: 43% !important;
    right: 50% !important;
    margin-right: -140px;
}
.diploma4 {
    top: 83% !important;
    right: 31% !important;
    margin-right: -72px;
}

.diploma3 {
    top: 68% !important;
    right: 30% !important;
    margin-right: -67px;
}
.order_scheme_fl {
	display:none !important;
}
.newprice {
    bottom: 38px !important;
    font-size: 40px !important;
    left: 12% !important;
    top: auto !important;

}
.raid_title {
    left: 32% !important;
    font-size: 30px !important;
}
.raid_desc {
    left: 31% !important;
    width: 70%;
	font-size: 12px !important;
}
.raid_img{ background-position-x:-216px!important; }
.sale {
    font-size: 38px !important;
}
.title_block {
    font-size: 40px;
    line-height: 56px;
}
.sale_item {
    width: 46% !important;
    height: 116px !important;
    left: 5px !important;
    font-size: 23px !important;
}
.oldprice {
    font-size: 42px !important;
    top: 125px !important;
    right: 27px !important;
}
.line_s {
    width: 118px !important;
    height: 3px !important;
    top: 150px !important;
    right: 22px !important;
}
.new_ord2 .form_tur h3 {
        font-size: 30px !important;
}
.mCSB_container_wrapper {
	margin-right: 20px;
		margin-bottom: 30px;
}
.mCSB_container_wrapper > .mCSB_container {
    padding-right: 25px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {width: 110% !important;}
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	background: url('vol.png') no-repeat;
	width:41px;
	height:14px;
}
table.catalog{ width:100%}
#price-list {
    height: 360px !important;
}
#price-list div.hac {
    text-align: left !important;
    font-size: 15px !important;
    width: 275px !important;
    float: left !important;
}
@media (min-width: 980px) and (max-width: 1024px)
{
.round1 {
left: 260px;
}
.round2{
left: 380px;
}
.round3 {
left: 500px;
}
.form2 {left: 668px;}
}
