#map_over{ position:absolute; top:0; left:0; width:100%; height:100%; z-index:8; background-color:transparent; cursor:pointer;}
.first_bottom .tf{
    margin: 0 33px;

}
#catalog_of_production{
    float: left;
    position: relative;
    width: 100%;
    background: transparent;
    min-height: 772px;
}
#catalog_back{
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	background: transparent;
	background-image:url(images/cat/armatura.jpg) no-repeat center center;
	background-size:cover;
	height:775px;
	z-index: -2;
}

#catalog_front{
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	background: transparent;
	background-image:url(images/cat/armatura.jpg) no-repeat center center;
	background-size:cover;
	height:775px;
	z-index: -1;
}
.yellow_bg{
    background-color: #ffcc00;
    width: 100%;
    height: 90px;
    margin: 20px auto;
}
.wrapper{
    width: 950px;
    margin: 0 auto;
    position: relative;
}
.list{
    display: block;
    width: 220px;
	margin-bottom: 5px !important;
}
.list li{
    width: 220px;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor:pointer;
    display:block;
    text-align: center;
    padding: 6px 0;
    background:#fff;
    font-size: 18px;
    color:#000;
}
.tabs{
    display: inline-block;
}
.tabs > div{
    padding-top:10px;
}
.tabs ul{
    margin:0px;
    display: inline-block;
}
.tabs ul li.active, .tabs ul li.active:hover{
    background:#be0808;
    color:#fff;
}
.tabs ul li:hover{
    background:#d6d6d7;
}
.price_wrapper{
    width: 665px;
    height: 405px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.tittle_price{
    color: #be0808;
    font-size: 18px;
    text-align: center;

}
#price-list{
    /*overflow-y:auto;*/
	overflow:hidden;
    height: 350px;
	padding: 5px 5px 5px 15px;
}
#price-list div.hac{
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    color: #be0808;
}
table.catalog th{border: 1px solid #bbb;
    padding: 2px;}
table.catalog td{
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
}
table.catalog tr >td:first-child {
    text-align: left;
}
.round{
    width: 90px;
    height: 90px;
    background-color: #fff;
    border: 5px solid #ffcc00;
    border-radius: 50%;
    position: absolute;
    top: 425px;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
	display: table;
}
.round span{
	vertical-align: middle;
    display: table-cell;}
.round1{
    right: 560px;
}
.round2{
    right: 410px;
}
.round3{
    right: 260px;
}
.form2 {
    position: absolute;
    top: 430px;
    right: 0;
    width: 230px;
    height: 180px;
    z-index: 10;
    text-align: center;
    border-radius: 7px;
    background-color: #ffcc00;
    margin: 3px;
}
.form2 .form_p{
    margin: 3px;
    font-weight: 600;
}

.form2 .phonefield{
    margin: 3px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    padding: 7px 15px;
    width: 150px;
}
.form2 .form_btn{
    background-color: #ffcc00;
    color: #be0808;
    border: 3px solid #be0808;
}

.raid2{
    background:url('images/bg_actual_price.jpg') no-repeat center;
    background-size: cover;
    width:100%;
    height:302px;
    float: left;
    position:relative;
    margin-top: 28px;}
.raid2_img{
    background-color: #ffcc00;
    width:500px;
    height:175px;
    display:block;
    top:20%;
    right: 0;
    position: absolute;
    }
.raid2_title{
    color:#8b0000;
    position: absolute;
    top: 3px;
    padding-left: 18px;
    width: 250px;
    font-size: 35px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}
.raid2_desc{
    position: absolute;
    top: 128px;
    width: 165px;
    padding-left: 18px;
    font-style: italic;
    font-size: 16px;
}
.raid3{
    background:url('images/bg_deliv.jpg') no-repeat center;
    background-size: cover;
    width:100%;
    height:302px;
    float: left;
    position:relative;
    margin-top: 28px;}
.raid3_img{
    background-color: #ffcc00;
    width:500px;
    height:175px;
    display:block;
    top:20%;
    left: 0;
    position: absolute;
    }
.raid3_title{
    color:#8b0000;
    position: absolute;
    top: 3px;
    text-align: right;
    padding-right: 18px;
    width: 200px;
    font-size: 35px;
    right: 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}
.raid3_desc{
    position: absolute;
    text-align: right;
    top: 100px;
    right: 0;
    width: 165px;
    padding-right: 18px;
    font-style: italic;
    font-size: 16px;
}
.sklad{
    background:url('images/bg_skl.jpg') no-repeat center;
    background-size: cover;
    width:100%;
    height:452px;
    float: left;
    position:relative;
    }
.title_sklad{
	color:#9a0000;
	width:150px;
	background:#ffc912;

    text-transform: uppercase;
    text-align: center;
    font-family: 'PF_Din_Comp_Pro';
    font-size: 50px;
    margin: 22px auto 0;
}
.contactsfl{
    float:left;
    width: 100%;
    background: url(images/bg_contacts.png);
    box-shadow: inset 0px -5px 5px  rgba(0,0,0,0.2),
        inset 0px 5px 5px rgba(0,0,0,0.2);
}
.contacts{
    height: 440px;
    width: 950px;
    margin: 0 auto;
    position: relative;
}
.map_desc{
    font-weight: 500;
    width: 250px;
	margin:10px 0 0 150px;
    height: 336px;
	padding-top:30px;
}
.one_block{
    padding: 10px 0 10px 45px;
    line-height: 20px;}
.red_line{
    margin: 0 45px 0 45px;
    height: 1px;
    background-color:#8b0000;
}
.diploma{
    position: absolute;
	z-index: 1;
}
.diploma1{
    top: 30%;
    right: 31%;
	cursor:pointer;
}
.diploma2{
    top: 22%;
    right: 0%;
}
.diploma3{
    top: 71%;
    right: 10%;
	cursor:pointer;
}
.diploma4{
top: 71%;
    right: 26%;
	cursor:pointer;
}
.form1{
    position: absolute;
    top: 12%;
    right: 10%;
    width: 230px;
    height: 220px;
    z-index: 10;
    text-align: center;
    border-radius: 7px;
    background-color: #ffcc00;
}
.form_h2{
    color: #8b0101;
    text-transform: uppercase;
    font-size: 20px;
}
.form_p{
    padding: 0 13px;
    font-size: 13px
}
.form1 .phonefield{
    height: 28px;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    width: 140px;
}
.form_btn{
    background-color: #8b0101;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 135px;
    height: 25px;
}
.form1 .rfield_error{
    top: -13px;
    right: 210px;
}
.order_scheme_fl{
    float: left;height: 600px;  width: 100%;
}
.order_scheme{
    width: 950px;
    height: 600px;
    margin: 0 auto;
	position: relative;
}
.sheme_img{
	position: absolute;
    top: 106px;
    left: 0px;
}
.gear_box{
    position: relative;
}
.gear{
    position: absolute;
    color: #777676;
    transition: 1s linear;
}
.gear_bg1{
    top:220px;
    left: 50px;
    z-index: 1;
}
.gear_bg2{
    top:120px;
    left: 50px;
    z-index: 5;
}
.arrow{
    top:360px;
    left: 53px;
    z-index: 0;
}
.gear1{
    top:210px;
    left: 25px;
    z-index: 2;
}
.gear2{
    top:240px;
    left: 211px;
    z-index: 2;
}
.gear3{
    top:200px;
    left: 440px;
    z-index: 2;
}
.gear4{
    top:245px;
    left: 605px;
    z-index: 2;
}
.gear5{
    top:323px;
    left: 740px;
    z-index: 2;
}

.text_p1{
    top:280px;
    left: 70px;
    z-index: 2;
    width: 100px;
}
.text_p2{
    top:408px;
    left: 92px;
    z-index: 2;
    width: 100px;
}
.text_p3{
    top:443px;
    left: 92px;
    z-index: 2;
    width: 100px;
}
.text_p4{
    top:123px;
    left: 327px;
    z-index: 2;
    width: 100px;
}
.text_p5{
    top:157px;
    left: 327px;
    z-index: 2;
    width: 100px;
}
.text_p6{
    top:190px;
    left: 327px;
    z-index: 2;
    width: 100px;
}
.text_p7{
    top:327px;
    left: 280px;
    z-index: 2;
    width: 100px;
}
.text_p8{
    top:245px;
    left: 472px;
    z-index: 2;
    width: 100px;
}
.text_p9{
    top:394px;
    left: 506px;
    z-index: 2;
    width: 100px;
}
.text_p10{
    top:307px;
    left: 628px;
    z-index: 2;
    width: 100px;
}
.text_p11{
    top:112px;
    left: 677px;
    z-index: 2;
    width: 100px;
}
.text_p12{
    top:150px;
    left: 677px;
    z-index: 2;
    width: 100px;
}
.text_p13{
    top:185px;
    left: 677px;
    z-index: 2;
    width: 100px;
}
.text_p14{
    top:280px;
    left: 827px;
    z-index: 2;
    width: 100px;
}
.text_p15{
    top:388px;
    left: 765px;
    z-index: 2;
    width: 100px;
}
.red{
    color: #8b0101;
    font-weight: 600;
    text-align: center;
}
.point{
    float: left;
    width: 100%;
    background-color: #fff;
}
.point_content{
    width: 960px;
    margin:0 auto;
    display: block;
}
.point_content>div{
    position: relative;
}
[class^="bl"] {
    box-sizing:border-box;
}
.bl1{
    background: url(images/bgc-1.jpg) no-repeat ;
    width: 100%;
    height: 220px;
    border-radius: 4px;
    display: block;
    margin: 150px 4px 4px;
    background-size: cover;

}
.bl2{
    background: url(images/bgc-2.jpg) no-repeat ;
    width: 312px;
    height: 220px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    margin: 4px;
    background-size: cover;
    padding: 35px;
}
.bl3{
    background: url(images/bgc-3.jpg) no-repeat ;
    width: 386px;
    height: 220px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    margin: 4px;
    background-size: cover;
    padding: 35px;
}
.bl4{
    background: url(images/bgc-4.jpg) no-repeat ;
    width: 233px;
    height: 448px;
    border-radius: 4px;
    display: inline-block;
    float: right;
    margin: 4px;
    background-size: cover;
    padding: 35px;
}
.bl5{
    background: url(images/bgc-5.jpg) no-repeat ;
    width: 386px;
    height: 220px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    margin: 4px;
    padding: 35px;
}
.bl6{
    background: url(images/bgc-6.jpg) no-repeat ;
    width: 312px;
    height: 220px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    margin: 4px 4px 50px 4px;
    padding: 35px;
}
.img_bl1{
    position: absolute;
    left: -150px;
}
.img_bl2{
    position: absolute;
    bottom: 0;
    right: 0;
}
.img_bl3{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.img_bl4{
    position: absolute;
    bottom: 20px;
    left: 10px;
}
.img_bl5{
    position: absolute;
    top: 10px;
    right: -100px;
    z-index: 1;
}
.textbl1,
.textbl4,
.textbl41,
.textbl5,
.textbl7,
.textbl71,
.textbl8,
.textbl10,
.textbl11,
.textbl13,
.textbl131,
.textbl14{
    color: #a61909;
}

.textbl1{
    font-size: 65px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 35px;
}
.textbl2{
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 160px;
    top: 110px;
    font-weight: 400;
}
.textbl3{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 35px;
    top: 20px;
}
.textbl4{
    font-size: 65px;
    font-weight: bold;
    position: absolute;
    left: 35px;
    top: 80px;
    line-height: 55px;
}
.textbl41{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 35px;
    top: 130px;
    line-height: 45px;
}
.textbl5{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 35px;
    top: 180px;

}
.textbl6{
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    left: 35px;
    top: 25px;
}
.textbl7{
    font-size: 65px;
    font-weight: bold;
    position: absolute;
    left: 35px;
    top: 110px;
}
.textbl71{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 115px;
    top: 133px;
}
.textbl8{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 35px;
    top: 176px;
}
.textbl9{
    font-size: 21px;
    font-weight: 400;
    position: absolute;
    left: 30px;
    top: 30px;
}
.textbl10{
    font-size: 55px;
    font-weight: bold;
    position: absolute;
    left: 24px;
    top: 134px;
}
.textbl11{
    font-size: 28px;
    font-weight: 400;
    position: absolute;
    left: 35px;
    top: 193px;
}
.textbl12{
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    left: 35px;
    top: 50px;
}
.textbl13{
    font-size: 55px;
    font-weight: bold;
    position: absolute;
    left: 35px;
    top: 80px;
}
.textbl131{
    font-size: 39px;
    font-weight: 400;
    position: absolute;
    left: 35px;
    top: 130px;
}
.textbl14{
    font-size: 74px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 50px;
}
.textbl15{
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    top: 137px;
    right: 72px;
}
.comp_numb{
    width: 100%;
    height: auto;
    margin-top: 150px;
    content: "";
    display: none;
}
#slider-wrap{ /* Оболочка слайдера и кнопок */
    width:100%;
    position: relative;
    }
#slider{ /* Оболочка слайдера */
    width:100%;
    height:360px;
    overflow: hidden;
    position:relative;}
.slide{ /* Слайд */
    width:100%;
    height:100%;
    }
.sli-links{ /* Кнопки смены слайдов */
    margin-top:10px;
    position: absolute;
    left:50%;
    top:30px;
    text-align:center;
	margin-left:-30px;}
.sli-links .control-slide{
    margin:2px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(images/radioBg_01.png) no-repeat;}
.sli-links .control-slide:hover{
    cursor:pointer;
    background:url(images/radioBg_03.png) no-repeat;}
.sli-links .control-slide.active{
    background:url(images/radioBg_03.png) no-repeat;}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
    display:block;
    width:42px;
    height:100%;
    position:absolute;
    top:13px;
    overflow:hidden;
    text-indent:-999px;
    background:url(images/arrowl.png) left center no-repeat;
    opacity:0.8;
    z-index:3;
    outline:none !important;}
#prewbutton{left:-20px;}
#nextbutton{
    right:-20px;
    background:url(images/arrow.png) right center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
    opacity:1;}
.slide-border{
    margin: 0 auto;
    width: 1100px;
    height: 360px;
    position: relative;
}
.slide1{
    background: url(images/bg_slider1.jpg) no-repeat;
    background-size: cover;
}
.slide2{
    background: url(images/bg_slider2.jpg) no-repeat;
    background-size: cover;
}
.slide3{
    background: url(images/bg_slider3.jpg) no-repeat;
    background-size: cover;
}
.sale_item{
    width: 330px;
    /*height: 310px;*/
    background: rgba(156,67,67,0.85);
    padding-top: 120px;
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 50px;
    text-align: center;
    font-weight: 500;
}
.oldprice{
    color: #ffcc00;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 60px;
    position: absolute;
    top: 126px;
    right:22px;
}
.newprice{
    color: #ffcc00;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 102px;
    position: absolute;
    top: 187px;
    right:20px;
}
.line_s{
    width: 173px;
    height: 3px;
    content: "";
    -moz-transform: rotate(-20deg); /* Для Firefox */
    -ms-transform: rotate(-20deg); /* Для IE */
    -webkit-transform: rotate(-20deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-20deg); /* Для Opera */
    transform: rotate(-20deg);
    background-color: #ffcc00;
    position: absolute;
    top:161px;
    right: 22px;
}
.sale{
    color:#fff;
    font-size: 80px;
    text-shadow: 0 0 5px black;
    position: absolute;
    top: 20px;
    right: 26px;
    font-weight: 800;
    text-transform: uppercase;
}
#navibut {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    height: 350px;
}
.sale_border{
    position: absolute;
    width: 1100px;
    height: 340px;
    background: url(images/border_sale.png) no-repeat center center;
    background-size: contain;
    top: 20px;
    left: 0px;
    content: "";
}
.wr {margin:0 auto;max-width:2000px;}
#slider2 {position: relative; margin:40px auto; overflow: hidden;height:300px;}
#slider2 img {position:absolute; padding:0 10px; width:300px;margin:20px; height:250px;display:none;border:5px solid #ffcc00;box-shadow:3px 3px 10px #000;}
/*#imageloader {position:relative; display:block; width: 100%; margin: 0px auto; text-align: center;}
#imageloader img { position:relative; top:70px; z-index:100; width:128px; height:15px; display:inline;}*/
#flefislider {
	height: 244px;
overflow: hidden;
position: relative;
margin: 0 auto;
width: 1020px;
}
.warehouse img {
	margin: 10px;height: 200px; width: 300px; display: block; position: absolute;
}
#imageloader {
	margin: 0px auto; width: 100%; text-align: center; display: block; position: relative;
}
#imageloader img {
	top: 70px; width: 128px; height: 15px; display: inline; position: relative; z-index: 100;
}

.sled{width: 440px;height: 260px;float:left;display: none; position: absolute;z-index: 10}
.sklad-img {
    border-radius: 1px;
    border: 4px solid #ffcc00;
    display: inline-block;
    width: 400px;
    height: 250px;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.4);
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
    margin: 0 auto;
    border: 0;
    outline: none;
    vertical-align: middle;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
	//border: 6px solid #ddd;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 6px 35px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 6px 35px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 6px 35px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
	/*border:8px solid rgb(211, 211, 211);*/
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 99%;
	/*height: 100%;*/
}

.fancybox-image {
	max-width: 99%;
	/*max-height: 100%;*/
}

#fancybox-loading,.fancybox-prev span, .fancybox-next span {
	background-image: url('blank.gif');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('blank.gif') center center no-repeat;
}

.fancybox-close {
	background-image: url("./close_3.png");
    position: absolute;
    top: -14px;
    right: -18px;
    width: 40px;
    height: 40px;
    cursor: pointer;
	z-index: 8040;
	border-radius: 50%;
    background-color: #eee;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
#fancybox-tmp {
	padding:0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top:-100px;
	left: -100px;
	padding:0 0 0 25px;
         margin:-7px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.70);
        box-shadow: 0 0 35px rgba(0,0,0,0.35);
        border-radius: 10px;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
        border-radius: 10px;
}



#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: 0px;

	width: 100%;
	height: 100%;
	background: transparent url("fancybox.png") -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	outline: none;
	line-height: 0;
	vertical-align: top;
}


#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url("blank.gif");
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url("fancybox.png");
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url("fancybox.png");
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}



#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url("fancybox.png") -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url("fancybox-x.png") 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url("fancybox.png") -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }
/*min-height: 100%;background-image:url("wrapper2.jpg");background-repeat: repeat-y;----------------*/
#wrapper {
	width: 1200px;
	margin: 0 auto;

	height: auto !important;
	height: 100%;

}


@media (min-width: 290px) and (max-width: 1024px) {
  #catalog_back,#catalog_front{
    background-image: none !important;
    background: grey;
  }
}
